*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper{
    height:100vh;
    max-width:800px;   
    margin:auto;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container{
   
    display: flex;
    justify-content: center;
    
}

.container a{
    margin-right: 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color:white;
    text-transform: capitalize;
}


.content{
  
    display:grid;
    grid-template-columns: 70% 30%;
}

.content-info{
   background-color: rgba(0,0,0, 0.3);
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.content-info-div{
   
    height: 80%;
    width:100%;
}

.content-info-div .name{
    margin-top:40px;
    padding:20px 20px 0 20px;
    font-size:1.5rem;

    
}

.content-info-div .developer{
    padding: 20px 20px 0 20px;
    font-size: 1rem;
}

.content-info-div .social-media{
    margin-top:50px;
    display: flex;
       
    padding: 10px;
}

.content-info-div .social-media a{
    padding:10px;
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    margin-right:10px;
    margin-left:10px;
}
.content-img{
     background-color: rgba(0,0,0, 0.3);
    height:100%;
}


.content-img img{
   
    height: 100%;
    width:100%

}